<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample | Amayori</title>
    <link type="text/css" rel="stylesheet" href="../../resources/css/exampleview.css"/>
</head>
<body>
    <div class="container">
        <img src="../../resources/img/ex/2.jpg" style="width: 100vw;" alt="img"/>
        <button id="btn">Trở lại | Back</button>
    </div>
    <script>
        const btn = document.getElementById('btn');
        btn.addEventListener('click',()=>{
            window.close();
        })
    </script>
</body>
</html>